---
---

@import "minimal-light";

.news-scroll-box {
    max-height: 120px;         /* 调整为你希望的高度 */
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
    border-left: 4px solid #FF7F00;
    margin-bottom: 20px;
    font-size: 15px;
  }
  
  .news-item {
    margin-bottom: 8px;
    color: #333;
  }